<div class="card p-3 mx-auto" style="max-width: 400px; width: fit-content">
  <h1 class="fs-5">Agregar patente</h1>
  <p class="text-body-secondary">Formatos validos: AAA000, AA000AA</p>
  <div class="input-group">
    <input [(ngModel)]="plate" type="text" class="form-control" name="plate" id="plate" placeholder="Patente"
      aria-label="Patente" required>
    <button (click)="addLicensePlate()" class="btn btn-primary">Agregar</button>
  </div>
  <small class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</small>
</div>